@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-feature-settings: "cv01", "ss03";
  }

  body {
    @apply bg-marketing-black text-primary-text font-inter antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, li, button, label, input, textarea {
    font-feature-settings: "cv01", "ss03";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
